<footer class="green lighten-1 center-align"> 
    <i class="fa-solid fa-dog green-text text-darken-4" style="font-size: 3em; display: inline-block;"></i>
    <h3 class ="green-text text-darken-4"style="display: inline-block;">Tillow!</h3>
</footer>