<meta charset="utf-8">
    <title><%= pageTitle %></title>
      <!-- Here we imported the CND so that we can be able to use Materialize CSS Framework -->
      <!-- Import Materialize CSS Framework -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Import jQuery which will allow us to use the drop down menu on the form-->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <!-- Import Materialize JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!-- this link will allow us to use icons from font awesome -->
      <script src="https://kit.fontawesome.com/f2bf2bfcf4.js" crossorigin="anonymous"></script>