<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tillow! Index Page</title>

        <!-- Here we imported the CND so that we can be able to use Materialize CSS Framework -->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- this link will allow us to use icons from font awesome -->
        <script src="https://kit.fontawesome.com/f2bf2bfcf4.js" crossorigin="anonymous"></script>

    </head>

    <body style="background-image: url('https://media.architecturaldigest.com/photos/571e97ce818277135ff91620/master/w_2626,h_1821,c_limit/modernist-decor-inspiration-07.jpg'); background-size: cover;">
        
        <!-- top of the page - header -->
        <header class="green lighten-1">
            <!-- link to sign out -->
            <a style="display: inline-block;" class="btn teal darken-1" href="/users/signout">Sign Out</a>

            <!-- A link to add a new house -->
            <a style="display: inline-block;" class="btn teal darken-1" href="/houses/new">Create a New House</a>


            
            
            <div id="title" class="center-align">
            <i style="font-size: 3em; display: inline-block;" class="fa-solid fa-dog green-text text-darken-4"></i>
            <h1 class="green-text text-darken-4">Tillow! Main Page</h1>
    
            </div>
        </header>




        
        <!-- main - middle of the page -->
        <main class="center-align">
            <ul>
                <% for(let i=0; i < houses.length; i++) { %>
                    <li>
                        <!-- Using materialize "masonry" in order to input a responsive grid for the images -->
                        <div class ="container masonry">
                            <!-- images to take up 1/3 of the availiable width and center the text -->
                            <div class="col s6 center-align  green lighten-1" style="padding: 10px; display: inline-block; margin:10px;">
                                
                                 <!-- link to the house, clicking it will lead to the house show page -->
                                 <a class = "green-text text-darken-4"href="/houses/<%=houses[i].id; %>">
                                    <%=houses[i].address; %>
                                </a>
                                <br>
                                
                                    <img class="responsive-img" src="/images/<%= houses[i].img %>?v=<%= Date.now() %>" width="200" height="150">
                                   
                            </div>
                    </li>
                
                </div>
                <% } %>
            </ul>
        </main>
       



        <!-- Footer - bottom of the page all elements displayed next to each other -->
        <footer class="green lighten-1 center-align"> 
            <i class="fa-solid fa-dog green-text text-darken-4" style="font-size: 3em; display: inline-block;"></i>
            <h3 class="green-text text-darken-4" style="display: inline-block;">Tillow!</h3>
            
            
        </footer>


    </body>
</html>