<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tillow! Index Page</title>

        <!-- Here we imported the CND so that we can be able to use Materialize CSS Framework -->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- this link will allow us to use icons from font awesome -->
        <script src="https://kit.fontawesome.com/f2bf2bfcf4.js" crossorigin="anonymous"></script>

    </head>

    <body>
        
        <!-- top of the page - header -->
        <header class="green lighten-1">
            <i class="fa-solid fa-dog"></i>


            <!-- link to sign out -->
            <a href="/users/signout">Sign Out</a>

            <h1>Tillow! Main Index Page</h1>
        </header>




        
        <!-- main - middle of the page -->
        <main>

        Here are your Houses
        

        <ul>
            <% for(let i=0; i < houses.length; i++) { %>
                <li>
                    <!-- Using materialize "masonry" in order to input a responsive grid for the images -->
                    <div class ="container masonry">

                        <!-- images to take up 1/3 of the availiable width -->
                        <div class="col s4">
                            <img class="responsive-img" src="/images/<%= houses[i].img %>?v=<%= Date.now() %>"width="200" height="150" >

                            <br>
                            <!-- link to the house, clicking it will lead to the house show page -->
                            <a href="/houses/<%=houses[i].id; %>">
                                <%=houses[i].address; %>
                            </a>
                        </div>

                   
                </li>
            



            </div>

            <% } %>

        </ul>


     


        </main>



        <!-- Footer - bottom of the page -->
        <footer class="green lighten-1"> 
            <!-- A link to add a new house -->
            <a href="/houses/new">Create a New House</a>
        </footer>


    </body>
</html>