<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tillow! Index Page</title>


    </head>
    <body>
        <h1>Tillow! Main Index Page</h1>
      
        <ul>
            <% for(let i=0; i < houses.length; i++) { %>
                <li>

					<!-- link to the house, clicking it will lead to the house show page -->
                    <a href="/houses/<%=houses[i].id; %>">
                        <%=houses[i].address; %>
                    </a>

                </li>
            <% } %>

        </ul>
    </body>
</html>