<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a NEW House</title>

        <!-- Here we imported the CND so that we can be able to use Materialize CSS Framework -->
       <!-- Import Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Import jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!-- this link will allow us to use icons from font awesome -->
    <script src="https://kit.fontawesome.com/f2bf2bfcf4.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <header class="green lighten-1">
        <a class="btn light-blue lighten-3" href="/houses">Back to Main Page</a>
        <h1>New House Page </h1>
    </header>


    
  <main style="background-image: url('https://w0.peakpx.com/wallpaper/284/788/HD-wallpaper-tiny-apartment-with-a-wonderful-view-city-window-apartment-view.jpg');background-size: contain; background-repeat: no-repeat;"> 

    
    <div class="row center-align" style="padding: 0px 0px 0px 50px;">
     <!-- set the size of the input rows on the form -->
    <div class ="col s5 green lighten-3">
    <form action="/houses" method="POST" enctype="multipart/form-data">
        Address: <input type="text" name="address"/><br/>
        City: <input type="text" name="city"> <br/>

        <div class="input-field">
            <select name="state">
              <option value="" disabled selected>Choose your state</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
            <label>Select a state</label>
          </div> <br>






        Zip Code: <input type="text" name="zip"> <br/>
        Description: <input type="text" name="description"/><br/>
        Image: <input type="file" name="img" accept="image/*" /><br/>
        Price: <input type="number" step="1000" min="0" name="price"/><br/>
        Bedrooms: <input type="number" step="1" min="0" name="bedrooms"/><br/>
        Bathrooms: <input type="number" step="1" min="0" name="bathrooms"/><br/>
        Sqft: <input type="number" step="50" min="0" name="sqft"/><br/>
        Home Type: <input type="text" name="homeType"/><br/>
        Heating: <input type="text" name="heating"/>
        Cooling: <input type="text" name="cooling"/>
        Parking: <input type="text" name="parking"/><br/>
        Year Built: <input type="number" name="yearBuilt"/><br/>
        Appliances Included: <input type="text" name="appliancesIncluded"/><br/>
        <label>
            <input type="checkbox" name="basement"/>
            <span>Basement</span>
       </label>
        <label>
            <input type="checkbox" name="garage"/>
            <span>Garage</span>
       </label>
        <label>
            <input type="checkbox" name="Kitchen"/>
            <span>Kitchen</span>
       </label>
        <label>
            <input type="checkbox" name="livingRoom"/>
            <span>Living Room</span>
       </label>
        <label>
            <input type="checkbox" name="diningRoom"/>
            <span>Dining Room</span>
       </label>
        <label>
            <input type="checkbox" name="attic"/>
            <span>Attic</span>
       </label>
       <br>




        Amenities: <input type="text" name="amenities"/><br/>
        Notes: <input type="text" name="notes"/><br/>


        <button class="btn green lighten-1" type="submit" name="action">Create House</button>
    </form>
</div>
</div>
</div>
</div>


</main>



 <!-- Footer - bottom of the page all elements displayed next to each other -->
 <footer class="green lighten-1 center-align"> 
    <i class="fa-solid fa-dog" style="font-size: 3em; display: inline-block;"></i>
    <h3 style="display: inline-block;">Tillow!</h3>
</footer>





<!-- Initialize dropdown menu code from materialize documentation-->
<script>
   $(document).ready(function(){
    $('select').formSelect();
  });


</script>



</body>
</html>