<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a NEW House</title>

    <!-- Here we imported the CND so that we can be able to use Materialize CSS Framework -->
    <!-- Import Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Import jQuery which will allow us to use the drop down menu on the form-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- this link will allow us to use icons from font awesome -->
    <script src="https://kit.fontawesome.com/f2bf2bfcf4.js" crossorigin="anonymous"></script>

</head>
<body style="background-image: url('https://w0.peakpx.com/wallpaper/284/788/HD-wallpaper-tiny-apartment-with-a-wonderful-view-city-window-apartment-view.jpg');background-size: cover;">
    
    <header class="green lighten-1">
        <!-- link to sign out -->
        <!-- <a style="display: inline-block;" class="btn teal darken-1" href="/users/signout">Sign Out</a> -->
        <a class="btn teal darken-1" href="/houses">Back to Main Page</a>
        <h1 class="center-align green-text text-darken-4">Add New House </h1>
    </header>


    
  <main> 
    <div class="row center-align" style="padding: 0px 0px 0px 50px;">
     <!-- set the size of the input rows on the form -->
    <div class ="col s6 green lighten-3 offset-s3">
    <form action="/houses" method="POST" enctype="multipart/form-data">

    <!-- make the form so that several fields can be on one row -->
    <div class="row">
        <div class="input-field col s5">
            <input id="address" type="text" name="address"/>
            <label for="address">Address</label>
        </div>
        <div class="input-field col s4">
            <input id="city" type="text" name="city"/>
            <label for="city">City</label>
        </div>
        <div class="input-field col s3">
            <input id="zip" type="text" name="zip"/>
            <label for="Zip">Zip</label>
        </div>
    </div>


    
    <div class="input-field">
        <select name="state">
              <option value="" disabled selected>Choose your state</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
            <label>Select a state</label>
          </div> <br>


        <div class="row">
            <div class="input-field col s6">
                <input id="description" type="text" name="description"/>
                <label for="description">Description</label>
            </div>
           
        <div class="file-field input-field col s6">
            <div class="btn">
                <span>Choose file</span>
                <input id="image" type="file" name="img" accept="image/*">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Select an image">
            </div>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s3">
                <input id="price" type="number" name="price" step="10000" min="0" name="price"/>
                <label for="price">Price</label>
            </div>
            <div class="input-field col s3">
                <input id="bedrooms" type="number" step="1" min="0" name="bedrooms"/>
                <label for="bedrooms">Bedrooms</label>
            </div>
            <div class="input-field col s3">
                <input id="bathrooms" type="number" step="1" min="0" name="bathrooms"/>
                <label for="bathrooms">Bathrooms</label>
            </div>
            <div class="input-field col s3">
                <input id="Sqft" type="number" step="100" min="0" name="sqft"/>
                <label for="Sqft">Sqft</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s3">
                <select name="homeType">
                    <option value="" disabled selected>Home Type</option>
                    <option value="Single-Family">Single-Family</option>
                    <option value="Multi-Family">Multi-Family</option>
                    <option value="Townhouse">Townhouse</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Condo">Condo</option>
                    <option value="Co-Op">Co-Op</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="input-field col s3">
                <select name="heating">
                    <option value="" disabled selected>Heating</option>
                    <option value="Furnace">Furnace</option>
                    <option value="Boiler">Boiler</option>
                    <option value="Heat Pump">Heat Pump</option>
                    <option value="Hybrid Heating">Hybrid Heating</option>
                    <option value="Ductless Mini-Splits">Ductless Mini-Splits</option>
                    <option value="Radiant Heating">Radiant Heating</option>
                    <option value="Baseboard Heater">Baseboard Heater</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="input-field col s3">
                <select name="cooling">
                    <option value="" disabled selected>Cooling</option>
                    <option value="Central Air">Central Air</option>
                    <option value="Room Air Conditioner">Room Air Conditioner</option>
                    <option value="Evaporative Coolers">Evaporative Coolers</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="input-field col s3">
                <input id="parking" type="text" name="parking"/>
                <label for="parking">Parking</label>
            </div>
        </div>
        


        <div class="row">
            <div class="input-field col s4">
                <input id="yearBuilt" type="number" name="yearBuilt" />
                <label for="yearBuilt">Year Built</label>
            </div>
            <div class="input-field col s4">
                <input id="appliancesIncluded" type="text" name="appliancesIncluded"/>
                <label for="appliancesIncluded">Appliances Included</label>
            </div>
            <div class="input-field col s4">
                <input id="amenities" type="text" name="amenities"/>
                <label for="amenities">Amenities</label>
            </div>
        </div>

        <label>
            <input type="checkbox" name="basement"/>
            <span>Basement</span>
       </label>
        <label>
            <input type="checkbox" name="garage"/>
            <span>Garage</span>
       </label>
        <label>
            <input type="checkbox" name="Kitchen"/>
            <span>Kitchen</span>
       </label>
        <label>
            <input type="checkbox" name="livingRoom"/>
            <span>Living Room</span>
       </label>
        <label>
            <input type="checkbox" name="diningRoom"/>
            <span>Dining Room</span>
       </label>
        <label>
            <input type="checkbox" name="attic"/>
            <span>Attic</span>
       </label>
       <br>

        <div class="row">
            <div class="input-field col s12">
                <input id="notes" type="text" name="notes" />
                <label for="notes">Notes</label>
            </div>
        </div>

        <button class="btn teal darken-1" type="submit" name="action">Create House</button>
    </form>
</div>
</div>
</div>
</div>


</main>



 <!-- Footer - bottom of the page all elements displayed next to each other -->
 <footer class="green lighten-1 center-align"> 
    <i class="fa-solid fa-dog green-text text-darken-4" style="font-size: 3em; display: inline-block;"></i>
    <h3 class ="green-text text-darken-4"style="display: inline-block;">Tillow!</h3>
</footer>





<!-- Initialize dropdown menu code from materialize documentation using JSON-->
<script>
   $(document).ready(function(){
    $('select').formSelect();
  });
</script>



</body>
</html>