<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Sign in</title>
  </head>
  <body>

    <h1>Sign In</h1>
    <p>Please sign in in order you access your house app!</p>
    <form action="/users/signin" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </fieldset>
      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </fieldset>
      <input type="submit" value="Sign In">
    </form>
    <br>
    <!-- link to register IF the user has no account already -->
    No account? Create an Account Here!
    <br>
    <a href="/users/register">Create an Account</a>
  </body>
</html>